@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' sans-serif;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.protfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 9vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: url(https://cdn.mos.cms.futurecdn.net/xaKZdYG3ifXWfU8ozxmQGB.gif);
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;

}
.right-container            {
    background: linear-gradient(-45deg,#3877ff,#262525 70%);
    width: 30%;

}
.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: #fff;
}
.content .intro span{
    color: #5DB9EE;
}
.content h1{
font-size: 3rem;
color: #5DB9EE;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn-container button{
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
  background: #5DB9EE;  
}
button:nth-child(2){
    background: transparent;
    color: #5DB9EE;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #5DB9EE;

}
button:nth-child(2):hover{
    background: #5DB9EE;
    color: #262525;

}
.icons .fa-brands:hover{
    cursor: pointer;
   background: linear-gradient(#fff #3877ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: #3877ff;
}
.design .circle{
aspect-ratio: 1;
position: absolute;
border-radius: 50%;
top: 40%;
left: 70%;
transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background:linear-gradient(90deg, transparent 50%,#262525 50%);
    width: 22rem;
    
}
.circle:nth-child(2){
    background-image: url(a1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20rem;
    border: 1rem solid white;
    box-shadow: 
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 1rem #3877ff,
    inset 0 0 .5rem #3877ff,
    0 0 .5rem #3877ff,
    inset 0 0 .5rem #3877ff;
}
.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right; 
    transition: transform .5s;
}
.navlist li  a:hover::after, .navlist .active{
    transform: scaleX(1);
    transform-origin: left;
}
.allsection{
	position: relative;
	top: 80px;
	width: 600px;
    height: 100%;
    
}
/*---------- skill secion-------- */

.skill{
    background-image: url(BackAbout.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 0px ; 
    height: 100vh;
    width: 100%;
    padding: 10px 0px;
}

.skill-section{
    height: 100vh;
    border: 0px solid white ;
    padding: 2px 0px;
    background: transparent;
    color: whitesmoke;

}

.skill-head{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: #fffcfc;
    font-variant: small-caps;
    text-decoration: underline 2px solid rgb(57, 196, 238);
    padding: 50px 10px;
    margin: 10px;
}

.skillset{
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-top: 1px;
}

.rows td div{
    height: 200px;
    border-radius: 30px;
    margin-top: 10px;
    width: 600px;
    margin-left: 10px;
}

.rows td div:hover{
    box-shadow: 0px 0px 50px rgb(4, 118, 153);
}
.logo{
    /* border: 3px solid rgb(4, 107, 114); */
    background-image: linear-gradient(rgb(31, 27, 27),rgb(64, 56, 99),rgb(21, 21, 59));
}
/* ------skill-section ends here -----*/
.about{
    background-image: url(BackAbout.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 0px ; 
    height: 100vh;
    width: 100%;
    padding: 10px 0px;
    color: whitesmoke;
}
.tittle{
    margin-top: 50px;
    text-align: center;
}

.box{
    box-shadow: 0px 0px 10px blue;
    width: 300px;
    height: 190px;
   margin-left: 32rem;
   align-items: center;
   margin-top: 4rem;
    
}
.tittle h1{
    margin-top: 5rem;
    font-size: 2.9rem;
}
#project{
    width: 100%;
    height: 100vh;
    background-image: url(BackAbout.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}
.pm{
    display: flex;
    margin-left: 2rem;
    margin-top: 1.7rem;
    
}
.p1{
    border: 2px solid black;
    width: 20%;
    height: 70vh;
    margin-left: 3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 7px whitesmoke;
    
}
.p2{
    border: 2px solid black;
    width: 20%;
    height: 70vh;
    margin-left: 3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 7px whitesmoke;
    
}
.p3{
    border: 2px solid black;
    width: 20%;
    height: 70vh;
    margin-left: 3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 7px whitesmoke;
    
}
.p4{
    border: 2px solid black;
    width: 20%;
    height: 70vh;
    margin-left: 3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 7px whitesmoke;
    
}

.pm input{
    padding: .3rem;
    color: whitesmoke;
    background-color: #20253a;
    text-transform: uppercase;  
    
}
.pm input:hover{
    box-shadow: 0px 0px 5px whitesmoke;
    font-size: 17px;
}
/* project section ends here */
#contact{
    width: 100%;
    height: 100vh;
    background-color: red;
}
